{% extends 'core/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% comment %} 
<!--  edited     -->
<body>
    <!-- Animated Wave Background  -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- Log In Form Section -->
    <section>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form method="post" action=".">
                    {% csrf_token %}
                    <h1>Sign Up</h1>
                    <span>Or use your Email for registration</span>
                    <label>
                        <input type="text" placeholder="Name"/>
                    </label>
                    <label>
                        <input type="email" placeholder="Email"/>
                    </label>
                    <label>
                        <input type="password" placeholder="Password"/>
                    </label>
                    <button style="margin-top: 9px">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <img id="logo" src="4.png" alt="IEkarT logo">
                    <h1>Sign in</h1>
                    <br>
                    <label>
                        <input type="email" placeholder="Username"/>
                        {{ form.username }}
                    </label>
                    <label>
                        <input type="password" placeholder="Your Password"/>
                        {{ form.password }}
                    </label>
                   
                    <button>Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Log in</h1>
                        <p>Sign in here if you already have an account </p>
                        <button class="ghost mt-5" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Create your Account!</h1>
                        <p>Sign up if you still don't have an IEkarT account > </p>
                        <a href="signup.html">
                            <button class="ghost" id="signUp">Sign Up</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body> 

<!--pahale ka-->
  {% endcomment %}

<style>
    body{
        overflow: visible;
    }
    div.login-container{
        background-color:rgba(167, 229, 248, 0.76);
        margin: 0.2rem auto;
        border: 2px solid #8DB2C5;
        padding:2rem;
        border-radius:2rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    div.login-container h1{
        color: #0097B2;
        font-weight: 700;
        text-align: center;
        margin:0.5rem;
    }
    button{
        display: flex;
        justify-content: center;
        align-item: center;
        margin:0.5rem auto;
    }
    button:hover{
        border: 2px solid #015871;
        background-color: #015871;
    }
</style>

<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl login-container">
    <h1 class="mb-6 text-xl">login</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="w-full py-2 px-10 text-lg bg-teal-500 hover:bg-red rounded-xl text-white">Submit</button>
    </form>
</div>
{% endblock %}